html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background: #191818;
  display: flexbox;
  color: rgb(45, 194, 97);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(45, 194, 97);
    margin: 5px;
    margin-top: 0px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(62, 255, 130);
}

/* footer styling */
#footer {
  background: #1e1d1d;
    text-align: center;
    color: #d3ffff;
    position: relative;
    bottom: 0;
    min-height: 13vh;
    width: 100%;
    border-top: 1px solid rgb(45, 194, 97);;
}

#footer p {
    margin-bottom: 0;
    display: inline;
    transition: all 0.3s ease-in-out;
}

#footer p:hover {
    color: rgb(127, 211, 249);
    cursor: default;
}

.footer-icons {
    color: rgb(45, 194, 97);
    margin: 0.45rem;
    transition: all 0.3s ease-out;
}

.footer-icons:hover {
    color: #d3ffff;
}

#footer sub {
    color:rgb(45, 194, 97);
}
