body {
    background-color: rgb(247, 231, 181);
    color: rgb(0, 0, 0);
    display: flexbox;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    text-align: center;
    padding: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: bold;
}

/* Navbar */

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.navbar-light .navbar-nav {
    color: rgb(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:active {
    color: rgb(156, 78, 0);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(172, 109, 47);
}



#Hero-text1 {
    font-size: 60px;
    font-family: 'Franklin';
    transition: all 0.3s ease-in-out;
}

#Hero-text1:hover {
    color: rgb(172, 109, 47);
    transition: all 0.3s ease-in-out;
}

#Hero-text2 {
    font-size: 20px;
    font-family: 'Franklin';
    text-align: center;
    padding: 0vh 5vw;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#heroimage {
    width: 600px;
    height: 600px;
    max-width: 100%;
    max-height: 100%;
}


.floating { 
    animation-name: floating;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    flex-basis: 40%;

}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

#legacyimg {
    height: 400px;
    width: 400px;
    float: right;
    margin: 1vh 1vw;
}


#about {
    padding: 1vh 5vw;
    font-size: 20px;
}

#quotes {
    padding: 1vh 5vw;
    position: relative;
    padding-bottom: 5vh;
}

#legacy {
    padding: 1vh 5vw;
    font-size: 20px;
    text-align: justify;
}

/* footer styling */
#footer {
    background-color: rgb(251, 227, 155);
    text-align: center;
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 0;
    min-height: 13vh;
    width: 100;
}

#footer p {
    margin-bottom: 0;
    display: inline;
    transition: all 0.3s ease-in-out;
}

#footer p:hover {
    color: rgb(172, 109, 47);
    cursor: default;
}

.footer-icons {
    color: rgb(0, 0, 0);
    margin: 0.35rem;
    transition: all 0.3s ease-out;
}

.footer-icons:hover {
    color: rgb(172, 109, 47);
}

#footer sub {
    margin-bottom: 1vh;
}

/* list */
.list-group {
    border-radius: 20px;
}

.list-group .list-group-item {
    background: rgb(236, 218, 165);
    color: black;
}

/*carousel 

.carousel-inner


    {
    padding: 100px;
    size: 10vh;
}

.carouselExampleIndicators {
    padding: auto;

}

.carousel-control-prev,
.carousel-control-next {
    padding: 10px;
}
*/
